@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Roboto", sans-serif;
}
.navbar{
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
}
.logo{
    font-weight: 600;
    font-size: 20px;
}
.navbar ul{
    padding: 10px 30px;
}
.navbar ul li{
    display: inline-flex;
    padding: 5px 10px;
    margin: 0 10px;
    /* color: #000; */
}
.navbar button{
    background-color: #333;
    color: #fff;
    padding: 12px 25px;
    border: 0;
    outline: 0;
    border-radius: 30px;
    cursor: pointer;
    
}
.container{
    max-width: 1000px;
    width: 1000%;
    margin: 0 auto;

}
.navbar a{
    color: #000;
    font-weight: 400;
}
a.active{
 color: teal;
}
.user{
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}