@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #636363;
}
.calender{
    width: 400px;
    background-color: #ffff;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 5px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5d5e5f7c;
    color: #fff;
    padding: 5px;
}
button{
    /* background: none; */
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 3px solid gray;
}
select{
    font-size: 18px;
    padding: 0px 8px;
    border: 1px solid #787878;
    border-radius: 4px;
    margin: 0 10px;
}
.daysOfWeek{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color:#5d5e5f7c ;
    color: #fff;
    margin-bottom: 10px;
}
.days{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 8px;
}
.day,
.empty{
    cursor: pointer;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
}
.empty{
    background-color: #f9f9f9;
}
.day:hover{
    background-color: #787878;
}
.current{
    background-color: tomato;
    color: #fff;
}