@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fa8231;
}
.password-generator{
    max-width: 400px;
    background-color: #ffac74;
    margin: 50px auto;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,1.5);
}
.password-generator h2 {
margin-bottom: 20px;
text-align: center;
color: #007bff;
font-weight: 500;
font-size: 20px;
text-transform: uppercase;
}
.input-group,
.checkbox-group,
.generated-password {
margin-bottom: 15px;
}
.checkbox-group{
    display: flex;
    align-items: center;
}
.password-generator h2 {
margin-bottom: 20px;
text-align: center;
color: #ffffff;
font-weight: 500;
font-size: 20px;
text-transform: uppercase;
}
.input-group,
.password-generator h2 {
margin-bottom: 20px;
text-align: center;
color: #ffffff;
font-weight: 500;
font-size: 20px;
text-transform: uppercase;
}
.input-group,
.checkbox-group,
.generated-password {
margin-bottom: 15px;
}
.generated-password {
margin-bottom: 15px;
}
.checkbox-group input{
    margin-right: 5px;
}
.input-group label{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}
input[type="number"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.generate-btn{
    padding: 10px 20px;
    background-color: #fa8231;
    border: none;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.generate-btn:hover{
    background-color: #a94400;
}
.generate-password{
    margin-top: 10px;
    display: flex;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    overflow: hidden;
}
input[type="text"]{
 border: none;
 flex : 1;
 padding: 10px;
border-radius: 4px;
outline: none;
}
.copy-btn{
    border: none;
    padding : 5px 4px;
    background-color: green;
    border-radius: 4px;
    cursor: pointer;
}